@model CheeseMVC.ViewModels.AddMenuItemViewModel

@{
    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
}

<form asp-controller="Menu" asp-action="AddItem" method="post">
    <div class="form-group">
        <label asp-for="CheeseID">
            <input asp-for="CheeseID" asp-items="Model.Cheese"/>
            <span asp-validation-for="CheeseID"></span>
        </label>
    </div>
    <input type="hidden" name="MenuID" value="Model.Menu.ID" />
    <div class="form-group">
        <input type="submit" value="Add Category" />
    </div>
</form>
